<footer class="page-footer">
	<div class="container">
		<div class="row">

			<div class="col-12 col-sm-4">
				<p>gem5</p>
				<p><a href="{{ "/about" | prepend: site.baseurl }}">About</a></p>
				<p><a href="{{ "/publications" | prepend: site.baseurl }}">Publications</a></p>
				<p><a href="{{ "/contributing" | prepend: site.baseurl }}">Contributing</a></p>
				<p><a href="{{ "/governance" | prepend: site.baseurl }}">Governance</a></p>
			<br></div>

			<div class="col-12 col-sm-4">
				<p>Docs</p>
				<p><a href="{{ "/documentation" | prepend: site.baseurl }}">Documentation</a></p>
				<p><a href="http://gem5.org/Documentation">Old Documentation</a></p>
				<p><a href="https://gem5.googlesource.com/public/gem5">Source</a></p>
			<br></div>

			<div class="col-12 col-sm-4">
				<p>Help</p>
				<p><a href="{{ "/search" | prepend: site.baseurl }}">Search</a></p>
				<p><a href="{{ "/mailing_lists" | prepend: site.baseurl }}">Mailing Lists</a></p>
				<p><a href="{{ site.sourceurl }}">Website Source</a></p>
			<br></div>

		</div>
	</div>
</footer>
