<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">
		<img src="/assets/img/gem5ColorLong.gif" alt="gem5" height=45px>
	</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {% if page.title == "Home" %}active{% endif %}">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item {% if page.title == "Help" %}active{% endif %}">
        <a class="nav-link" href="/help">Help</a>
      </li>

			<li class="nav-item dropdown {% if page.layout == "documentation" %}active{% endif %}">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{ site.data.documentation.title }}
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<!-- Pull navigation from _data/documentation.yml -->
					{% for item in site.data.documentation.docs %}
            <a class="dropdown-item" href="{% if item.url %}{{ item.url }}{% else %}{{ item.subitems[0].url }}{% endif %}">{{ item.title }}</a>
					{% endfor %}
				</div>
			</li>

			<li class="nav-item {% if page.title == "Publications" %}active{% endif %}">
        <a class="nav-link" href="#">Publications</a>
      </li>

      <li class="nav-item {% if page.title == "Contributing" %}active{% endif %}">
        <a class="nav-link" href="/contributing">Contributing</a>
      </li>
    </ul>
  </div>
</nav>
