<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
		<img src="{{ "/assets/img/gem5ColorLong.gif" | prepend: site.baseurl }}" alt="gem5" height=45px>
	</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {% if page.title == "Home" %}active{% endif %}">
        <a class="nav-link" href="{{ "/" | prepend: site.baseurl }}">Home</a>
      </li>

			<li class="nav-item dropdown {% if page.parent == "about" %}active{% endif %}">
				<a class="nav-link dropdown-toggle" href="/about" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					About
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ "/about" | prepend: site.baseurl }}">About</a>
          <a class="dropdown-item" href="{{ "/publications" | prepend: site.baseurl }}">Publications</a>
          <a class="dropdown-item" href="{{ "/governance" | prepend: site.baseurl }}">Governance</a>
				</div>
			</li>

			<li class="nav-item dropdown {% if page.layout == "documentation" %}active{% endif %}">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{ site.data.documentation.title }}
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<!-- Pull navigation from _data/documentation.yml -->
					{% for item in site.data.documentation.docs %}
            <a class="dropdown-item" href="{% if item.url %}{{ item.url | prepend: site.baseurl }}{% else %}{{ item.subitems[0].url | prepend: site.baseurl }}{% endif %}">{{ item.title }}</a>
					{% endfor %}
				</div>
			</li>

      <li class="nav-item {% if page.title == "Contributing" %}active{% endif %}">
        <a class="nav-link" href="{{ "/contributing" | prepend: site.baseurl }}">Contributing</a>
      </li>

      <li class="nav-item {% if page.url == "/blog/" %}active{% endif %}">
        <a class="nav-link" href="{{ "/blog" | prepend: site.baseurl }}">Blog</a>
      </li>

			<li class="nav-item {% if page.title == "Search" %}active{% endif %}">
        <a class="nav-link" href="{{ "/search" | prepend: site.baseurl }}">Search</a>
      </li>
    </ul>
  </div>
</nav>
