---
layout: default
---
<div class="sidenav">
  <!-- Pull navigation from _data/documentation.yml -->
  {% for item in site.data.documentation.docs %}
    <a class="item" data-toggle="collapse" href="#{{ item.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
      {{ item.title }}
    </a>
    <div class="collapse {% if page.id == item.id %}show{% endif %}" id="{{ item.id }}">
      {% for subitem in item.subitems %}
        <a class="subitem {% if subitem.page == page.title %}active{% endif %}" href="{{ subitem.url }}">{{ subitem.page }}</a>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<div class="container" id="doc-container">

  <h1>{{ page.title }}</h1>
  {{ content }}

</div>
